---
title: Welcome
---
<link rel="stylesheet" href="<%= asset "css/bootstrap.min.css" %>">
<div>
	<button type="button" class="btn btn-default active" onclick="location.href='https://github.com/login/oauth/authorize?client_id=5f91894f7bae1a9287b7&login';">
		Log in using Github
	</button>
</div>