<!doctype html>
<html>
	<head>
		<%= include "head" %>
	</head>
	<header>
		<%= include "header" %>
	</header>
	<body>
		<%= @contents %>
	</body>
	<footer>
		<%= include "footer" %>
	</footer>
</html>